.header {
  height: 60px;
  border-bottom: 1px solid #ffffff;
}
.logo {
  margin: 20px 0 0 80px;
  float: left;
  a{
    text-decoration: none;
    font-weight: 400;
    color: white;
    font-size: medium;
  }
}
